.header {
  @include centeredFlex;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: $header-height;
  padding: $gutter / 2;

  background-color: rgb(80, 98, 182);
  box-shadow: 0 0 $gutter / 2 rgba(0, 0, 0, 0.5);
}
