$main-color: rgb(80, 98, 182);
$outline-color: rgb(96, 158, 243);

$border-radius: 3px;
$header-height: 60px;

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;
