<div class="container">
  <div class="row gallery">
    <!-- Картки зображень -->
    <div class="col-sm-6 col-lg-4 col-xl-3 photo-card">
      <img src="https://via.placeholder.com/300" alt="" loading="lazy" />
      <div class="info">
        <p class="info-item" title="Likes">
          <!-- <b>Likes</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#heart" />
          </svg>
          13100
        </p>
        <p class="info-item" title="Views">
          <!-- <b>Views</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#eye" />
          </svg>
          232234
        </p>
        <p class="info-item" title="Comments">
          <!-- <b>Comments</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#bubbles" />
          </svg>
          153
        </p>
        <p class="info-item" title="Downloads">
          <!-- <b>Downloads</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#box-add" />
          </svg>
          329437
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 photo-card">
      <img src="https://via.placeholder.com/300" alt="" loading="lazy" />
      <div class="info">
        <p class="info-item" title="Likes">
          <!-- <b>Likes</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#heart" />
          </svg>
          13100
        </p>
        <p class="info-item" title="Views">
          <!-- <b>Views</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#eye" />
          </svg>
          232234
        </p>
        <p class="info-item" title="Comments">
          <!-- <b>Comments</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#bubbles" />
          </svg>
          153
        </p>
        <p class="info-item" title="Downloads">
          <!-- <b>Downloads</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#box-add" />
          </svg>
          329437
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 photo-card">
      <img src="https://via.placeholder.com/300" alt="" loading="lazy" />
      <div class="info">
        <p class="info-item" title="Likes">
          <!-- <b>Likes</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#heart" />
          </svg>
          13100
        </p>
        <p class="info-item" title="Views">
          <!-- <b>Views</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#eye" />
          </svg>
          232234
        </p>
        <p class="info-item" title="Comments">
          <!-- <b>Comments</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#bubbles" />
          </svg>
          153
        </p>
        <p class="info-item" title="Downloads">
          <!-- <b>Downloads</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#box-add" />
          </svg>
          329437
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 photo-card">
      <img src="https://via.placeholder.com/300" alt="" loading="lazy" />
      <div class="info">
        <p class="info-item" title="Likes">
          <!-- <b>Likes</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#heart" />
          </svg>
          13100
        </p>
        <p class="info-item" title="Views">
          <!-- <b>Views</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#eye" />
          </svg>
          232234
        </p>
        <p class="info-item" title="Comments">
          <!-- <b>Comments</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#bubbles" />
          </svg>
          153
        </p>
        <p class="info-item" title="Downloads">
          <!-- <b>Downloads</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#box-add" />
          </svg>
          329437
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 photo-card">
      <img src="https://via.placeholder.com/300" alt="" loading="lazy" />
      <div class="info">
        <p class="info-item" title="Likes">
          <!-- <b>Likes</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#heart" />
          </svg>
          13100
        </p>
        <p class="info-item" title="Views">
          <!-- <b>Views</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#eye" />
          </svg>
          232234
        </p>
        <p class="info-item" title="Comments">
          <!-- <b>Comments</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#bubbles" />
          </svg>
          153
        </p>
        <p class="info-item" title="Downloads">
          <!-- <b>Downloads</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#box-add" />
          </svg>
          329437
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 photo-card">
      <img src="https://via.placeholder.com/300" alt="" loading="lazy" />
      <div class="info">
        <p class="info-item" title="Likes">
          <!-- <b>Likes</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#heart" />
          </svg>
          13100
        </p>
        <p class="info-item" title="Views">
          <!-- <b>Views</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#eye" />
          </svg>
          232234
        </p>
        <p class="info-item" title="Comments">
          <!-- <b>Comments</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#bubbles" />
          </svg>
          153
        </p>
        <p class="info-item" title="Downloads">
          <!-- <b>Downloads</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#box-add" />
          </svg>
          329437
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 photo-card">
      <img src="https://via.placeholder.com/300" alt="" loading="lazy" />
      <div class="info">
        <p class="info-item" title="Likes">
          <!-- <b>Likes</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#heart" />
          </svg>
          13100
        </p>
        <p class="info-item" title="Views">
          <!-- <b>Views</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#eye" />
          </svg>
          232234
        </p>
        <p class="info-item" title="Comments">
          <!-- <b>Comments</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#bubbles" />
          </svg>
          153
        </p>
        <p class="info-item" title="Downloads">
          <!-- <b>Downloads</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#box-add" />
          </svg>
          329437
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 photo-card">
      <img src="https://via.placeholder.com/300" alt="" loading="lazy" />
      <div class="info">
        <p class="info-item" title="Likes">
          <!-- <b>Likes</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#heart" />
          </svg>
          13100
        </p>
        <p class="info-item" title="Views">
          <!-- <b>Views</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#eye" />
          </svg>
          232234
        </p>
        <p class="info-item" title="Comments">
          <!-- <b>Comments</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#bubbles" />
          </svg>
          153
        </p>
        <p class="info-item" title="Downloads">
          <!-- <b>Downloads</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#box-add" />
          </svg>
          329437
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 photo-card">
      <img src="https://via.placeholder.com/300" alt="" loading="lazy" />
      <div class="info">
        <p class="info-item" title="Likes">
          <!-- <b>Likes</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#heart" />
          </svg>
          13100
        </p>
        <p class="info-item" title="Views">
          <!-- <b>Views</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#eye" />
          </svg>
          232234
        </p>
        <p class="info-item" title="Comments">
          <!-- <b>Comments</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#bubbles" />
          </svg>
          153
        </p>
        <p class="info-item" title="Downloads">
          <!-- <b>Downloads</b> -->
          <svg width="14" height="14">
            <use href="./images/icons.svg#box-add" />
          </svg>
          329437
        </p>
      </div>
    </div>
  </div>
</div>
